*{
	margin: 0;
	padding: 0;
}
body{
	padding: 0;
	margin: 0;
	background-color: #eee;
}
.main{
	margin: 0 auto;
	width: 892px;
	height: 1386px;
	padding: 0px 44px;
	background-color: #fff;
}

/*头部----------------------*/
header{
	position: relative;
	height: 61px;
	border-bottom: 2px solid #938e8c;
}
header .logo{
	position: relative;
	width: 100px;
	height: 100%;
	background-color: #d45d5c;
	
}
header span{
	line-height: 1em;
	font-family: "黑体";
	font-size: 12px;
}
header .logo span{
	position: absolute;
	left: 1em;
	bottom: 4px;
	color: #fff;
}
header .time{
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: #d45d5c;
}

/*内容上部分----------------------------*/
.top{
	margin-top: 44px;
	position: relative;
	clear: both;
	overflow: hidden;
}
.top_left{
	position: relative;
	float: left;
	width: 641px;
	height: 301px;
	background-image: url(top1.png);
}
.top_right{
	position: relative;
	float: right;
	width: 203px;
	height: 301px;
}
.top .line{
	height: 2px;
	background-color: #938e8c;
}
.top_right h2{
	font-family: "微软雅黑";
	font-size: 24px;
	color: #000;
	text-decoration: underline;
	line-height: 40px;
}
.top_right p{
	font-family: "楷体";
	font-size: 12px;
	line-height: 10px;
	color: #676767;
}
.top_right .num{
	font-size: 116px;
	color: #75b86b;
	font-style: italic;
	margin-top: 80px;
}
.top_right span{
	position: absolute;
	font-family: "微软雅黑";
	color: #cc8091;
	line-height: 1em;
}
.top .num1{
	font-size: 55px;
	left: 0px;
	bottom: 0px;
}
.top .num2{
	font-size: 21px;
	left: 80px;
	bottom: 18px;
}
.top .num3{
	font-size: 12px;
	left: 80px;
	bottom: 4px;
}

/*内容中---------------------------*/
.center{
	position: relative;
	margin-top:40px;
	clear: both;
}
.center h2{
	font-family: "微软雅黑";
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
}
.c_left h2{
	color: #418c59;
}
.c_center h2{
	color: #d299cf;
}
.c_right h2{
	color: #cc7680;
}
.c_left,.c_right{
	float: left;
	margin-right: 20px;
	width: 240px;
	font-family: "宋体";
	font-size: 12px;
	line-height: 16px;
	color: #767777;
}
.c_center{
	float: left;
	margin-right: 20px;
	width: 240px;
	font-family: "宋体";
	font-size: 12px;
	line-height: 16px;
	color: #231815;
	opacity: 0.7; /*透明度opacity*/
}
.c_right span{
	line-height: 16px;
	color: #cd4a48;
	opacity: 0.7;
	font-style: italic;
	
}